Package: yavdr-addon-pip
Version: 0.3.0.2384-0yavdr0~bionic
Architecture: all
Maintainer: Gerald Dachs <gda@dachsweb.de>
Installed-Size: 51
Depends: wmctrl, x11-utils, vdr, vdr-plugin-softhddevice, vdr-plugin-streamdev-client, vdr-plugin-streamdev-server, vdr-plugin-dbus2vdr
Section: misc
Priority: optional
Description: yavdr-addon-pip
 Start an extra vdr instance for extended pip functionality.
