[Unit]
Description=Start vdr instance for PIP usage

[Service]
PassEnvironment=DISPLAY XDG_RUNTIME_DIR DBUS_SESSION_BUS_ADDRESS
EnvironmentFile=/etc/vdr-pip/vdrargs.conf
EnvironmentFile=%h/.second_display
Type=notify
ExecStartPre=/etc/vdr-pip/scripts/pip-common pre_start
ExecStart=/usr/bin/vdr $vdr_args
ExecStartPost=/etc/vdr-pip/scripts/default
